<h1 id="ratione"> <%= @workspace.name %> </h1>

<p>Location: <%= @workspace.location %></p>



<%= link_to "Edit", edit_workspace_path(@workspace)%>
<%= button_to "Delete This Workspace", workspace_path(@workspace), method: :delete %>


        

